body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.animation {
    background-color: #333333;
    width: 70vw;
    height: 80vh;
    margin: 10vh auto;
    text-align: center;
    overflow: hidden;
}
.custom-block {
    position: relative;
    /*top: -25px;*/
    width: 100%;
    min-height: 40%;
    z-index: 1;
    /*height: 1px;*/
}
.box-animation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /*top: 200px;*/
    /*width: 40vw;*/
    height: 900px;
    padding-top: 8vh;
    padding-bottom: 0;
    text-align: center;
    animation: test-animation 30s linear infinite;
    perspective: 800px;
    /*transform-origin: 50% 100%;*/
    /*perspective-origin: 50% 50%;*/
    /*transform-style: preserve-3d;*/
    /*backface-visibility: hidden;*/

}
.animation-text {

    width: 35vw;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: darkorange;
    letter-spacing: 4px;
    line-height: 5vh;
    transform: rotateX(45deg);

}
.animation-text-header {
    margin: 0 0 10px;
}

@keyframes test-animation {
    0% {
        top: -100px;
        transform: translateZ(0) rotateX(20deg);
    }

    100% {
        top: -2000px;
        transform: translateZ(-1000px) rotateX(25deg);
    }
}
